@model BenFatto.App.DTO.LogRow
<form asp-action="Index" method="get">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <input type="hidden" name="importId" value="@(Context.Request.Query["importId"])" />
                <label asp-for="IpAddress" class="col-form-label col-md-3 text-right"></label>
                <div class="col"><input asp-for="IpAddress" class="form-control" /></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <label asp-for="ResponseCode" class="col-form-label col-md-3 text-right"></label>
                <div class="col"><input asp-for="ResponseCode" class="form-control" /></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <label asp-for="Date" class="col-form-label col-md-3 text-right"></label>
                <div class="col"><input asp-for="Date" class="form-control" /></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <label asp-for="UserAgent" class="col-form-label col-md-3 text-right"></label>
                <div class="col">
                    <select asp-for="UserAgent" asp-items="@ViewBag.UserAgents" class="form-control">
                        <option value="">Select the @(Html.DisplayNameFor(Model => Model.UserAgent))</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <label asp-for="Method" class="col-form-label col-md-3 text-right"></label>
                <div class="col">
                    <select asp-for="Method" asp-items="@ViewBag.Methods" class="form-control">
                        <option value="">Select the @(Html.DisplayNameFor(Model => Model.Method))</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col text-right">
            <input type="hidden" name="page" id="page" value="@(Context.Request.Query["page"])" />
            @if (string.IsNullOrEmpty(Context.Request.Query["importId"]))
            {
                <a class="btn btn-info disabled">
                    <i class="fa fa-fw fa-file-text-o"></i> (you must select a imported file to add a row)
                </a>
            }
            else
            {
                <a asp-action="Create" asp-route-importId="@(Context.Request.Query["importId"])"
                   class="btn btn-info@(string.IsNullOrEmpty(Context.Request.Query["importId"]) ? " disabled" : "")"
                   title="Add Row manually!" data-toggle="modal" data-target="#DetailModal"
                   data-behavior="edit-element" data-arg="Log Row">
                    <i class="fa fa-fw fa-plus"></i> Add Row
                </a>
            }
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
</form>
