@model IEnumerable<BenFatto.App.DTO.LogRow>
@{
    ViewData["Title"] = "Imported rows";
}
@await Html.PartialAsync("_Filter", new BenFatto.App.DTO.LogRow())
<div class="row">
    <div class="col">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th width="5%">
                        @Html.DisplayNameFor(model => model.Import.FileName)
                    </th>
                    <th width="5%">
                        @Html.DisplayNameFor(model => model.IpAddress)
                    </th>
                    <th width="5%">
                        @Html.DisplayNameFor(model => model.RfcId)
                    </th>
                    <th width="5%">
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th width="5%">
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th width="5%">
                        @Html.DisplayNameFor(model => model.Method)
                    </th>
                    <th width="5%">
                        @Html.DisplayNameFor(model => model.ResponseCode)
                    </th>
                    <th width="50%">
                        @Html.DisplayNameFor(model => model.UserAgent)
                    </th>
                    <th width="10%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="5%">
                            @Html.DisplayFor(modelItem => item.Import.FileNameDisplay)
                        </td>
                        <td width="5%">
                            @Html.DisplayFor(modelItem => item.IpAddress)
                        </td>
                        <td width="5%">
                            @Html.DisplayFor(modelItem => item.RfcId)
                        </td>
                        <td width="5%">
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td width="5%">
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td width="5%">
                            @Html.DisplayFor(modelItem => item.Method)
                        </td>
                        <td width="5%">
                            @Html.DisplayFor(modelItem => item.ResponseCode)
                        </td>
                        <td width="50%">
                            @Html.DisplayFor(modelItem => item.UserAgent)
                        </td>
                        <td width="10%" class="text-right">
                            <a asp-action="Detail" asp-route-id="@item.Id" asp-route-importId="@item.ImportId"
                               asp-route-page="@(Context.Request.Query["page"])" class="btn btn-sm btn-outline-success"
                               title="View This Error Row Details!" data-toggle="modal" data-target="#DetailModal"
                               data-behavior="display-modal" data-arg="Row with error" id="RowDetail@(item.Id)">
                                <i class="fa fa-fw fa-info-circle"></i>
                            </a>
                            <a asp-action="Edit" asp-route-id="@item.Id" asp-route-importId="@item.ImportId"
                               asp-route-page="@(Context.Request.Query["page"])" class="btn btn-sm btn-outline-primary"
                               title="Edit This Error Row!" data-toggle="modal" data-target="#DetailModal"
                               data-behavior="edit-element" data-arg="Row with error" id="RowEdit@(item.Id)">
                                <i class="fa fa-fw fa-edit"></i>
                            </a>
                            <a asp-action="Delete" asp-route-Id="@item.Id" asp-route-importId="@item.ImportId"
                               asp-route-page="@(Context.Request.Query["page"])" class="btn btn-sm btn-outline-danger" title="Delete This Error Row?"
                               data-behavior="confirm-delete" data-arg="Delete Row With Error?" data-target="#RowDetail@(item.Id)">
                                <i class="fa fa-fw fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <button type="button" class="btn btn-info" data-behavior="navigate-page" data-arg="-1">
            <i class="fa fa-arrow-left"></i> Last
        </button>
    </div>
    <div class="col-6 text-right">
        <button type="button" class="btn btn-info" data-behavior="navigate-page" data-arg="1">
            Next <i class="fa fa-arrow-right"></i>
        </button>
    </div>
</div>