<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BenFatto.App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="menu-expanded">
    <div class="container-fluid body-content">
        @RenderBody()
    </div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Ben Fatto - Rafael Ravena's Test</p>
    </footer>
    <nav id="MenuContainer" class="menu-left">
        <div id="MenuCollapse" class="collapse show">
            <ul id="Menu" class="list-group">
                <li class="list-item">
                    <a asp-action="Index" asp-controller="Home" title="Back to the instructions!">
                        <i class="fa fa-fw fa-home"></i> Instructions (home page)
                    </a>
                </li>
                <li class="menu-separator"> </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="list-item">
                        <a asp-action="Edit" asp-controller="Account" asp-route-id="@User.Claims.FirstOrDefault(c => c.Type == "Id").Value" title="Edit your data"
                           data-toggle="modal" data-target="#DetailModal" data-behavior="display-modal">
                            <i class="fa fa-fw fa-address-card-o"></i> @User.Identity.Name
                        </a>
                    </li>
                    <li class="menu-separator"> </li>
                    <li class="list-item">
                        <a asp-action="Index" asp-controller="Imports" title="Imported files data">
                            <i class="fa fa-fw fa-file-text-o"></i> Imported files
                        </a>
                    </li>
                    <li class="list-item">
                        <a asp-action="Index" asp-controller="LogRows" title="Imported rows data">
                            <i class="fa fa-fw fa-file-archive-o"></i> Imported lines
                        </a>
                    </li>
                    <li class="list-item">
                        <a asp-action="Index" asp-controller="LogRowMismatches" title="Imported rows with error data">
                            <i class="fa fa-fw fa-exclamation-circle"></i> Error lines
                        </a>
                    </li>
                    <li class="menu-separator"> </li>
                    <li class="list-item">
                        <a asp-action="Index" asp-controller="Account" title="Manage Users">
                            <i class="fa fa-fw fa-users"></i> Users
                        </a>
                    </li>
                    <li class="list-item">
                        <a asp-action="Logout" asp-controller="Account" title="Logout from application"
                           data-toggle="modal" data-target="#DetailModal" data-behavior="display-modal">
                            <i class="fa fa-fw fa-user-times"></i> Logout
                        </a>
                    </li>
                }
                else
                {
                    <li class="list-item">
                        <a asp-action="Login" asp-controller="Account" title="Login to use the application"
                           data-toggle="modal" data-target="#DetailModal" data-behavior="display-modal">
                            <i class="fa fa-fw fa-user-circle"></i> Login
                        </a>
                    </li>
                }
                <li class="menu-separator"> </li>
            </ul>
        </div>
        <button type="button" class="btn menu-btn" data-behavior="menu-toggle" data-toggle="collapse" data-target="#MenuCollapse">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
    </nav>

    <div class="modal fade" id="ConfirmDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content" data-behavior="modal-document-target">
                <div class="modal-header">
                    <h5 class="modal-title" id="ConfirmDeleteModalTitle"></h5>
                </div>
                <div class="modal-body">

                    <div id="ConfirmDeleteModalBody"></div>
                </div>
                <div class="modal-footer">
                    <div class="d-flex flex-row-reverse">
                        <a id="ConfirmDelete" class="btn btn-outline-danger ml-3 action-btn">Delete!</a>
                        <input type="button" class="btn btn-info action-btn" data-dismiss="modal" value="Cancel" data-behavior="clear-delete-modal" />
                        <input type="hidden" name="id" id="id" />
                        <input type="hidden" name="importId" id="importId" />
                        <input type="hidden" name="page" id="page" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="DetailModal" tabindex="-1" role="dialog" aria-labelledby="ModalDetailTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DetailModalTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="DetailModalBody">
                    ...
                </div>
                <div class="modal-footer" id="DetailModalFooter">
                    <input type="button" class="btn btn-info action-btn" data-dismiss="modal" value="Ok" />
                </div>
            </div>
        </div>
    </div>
    <div class="d-none" id="DeleteWarning">
        <div class="row">
            <div class="col">
                <h4 class="text-warning text-center">
                    <i class="fa fa-5x fa-exclamation-triangle align-middle"></i>This action can't be undone.
                </h4>
            </div>
        </div>
    </div>
    <div class="d-none" id="DeleteFail">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h4 class="text-danger text-center"><i class="fa fa-bug"></i>Something went wrong!</h4>
                <p class="text-danger text-center">The request we've sent to the server returned with error.</p>
                <p class="text-danger text-center">Apparently, the server is in a bad mood and is not behaving in the way it should.</p>
                <p class="text-danger text-center">It will be grounded for a few seconds.</p>
                <p class="text-danger text-center">Please, try again afterwards.</p>
            </div>
        </div>
    </div>
    <div class="d-none" id="LoadingSign">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-center"><i class="fa fa-2x fa-spinner fa-pulse fa-fw"></i></h2>
            </div>
        </div>
    </div>
    <div class="d-none">
        <span id="ToastrType">@(TempData["ToastrType"])</span>
        <span id="ToastrMsg">@(TempData["ToastrMessage"])</span>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/sticky-table-headers.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
